
@{
    ViewBag.Title = "Reference";
}

<div class="jumbotron">
    <h3>Выбор в меню</h3>
    <br />
    <br />
    @Html.ActionLink("Адреса", "Index", "Адрес")
    <br />
    @Html.ActionLink("Виды показателя", "Index", "Вид_показателя")
    <br />
    @Html.ActionLink("Должности", "Index", "Должность")
    <br />
    @Html.ActionLink("Единицы измерения", "Index", "Единицы_измерения")
    <br />
    @Html.ActionLink("Населенные пункты", "Index", "Населенный_пункт")
    <br />
    @Html.ActionLink("Показатели", "Index", "Показатель")
    <br />
    @Html.ActionLink("Теги", "Index", "Тег")
    <br />
    @Html.ActionLink("Типы журналов", "Index", "Тип_журнала")
    <br />
    @Html.ActionLink("Типы логов", "Index", "Тип_лога")
    <br />
    @Html.ActionLink("Типы населенных пунктов", "Index", "Тип_населенного_пункта")
    <br />
    @Html.ActionLink("Типы показателя", "Index", "Тип_показателя")
    <br />
    @Html.ActionLink("Типы работ", "Index", "Тип_работ")
    <br />
    @Html.ActionLink("Типы улицы", "Index", "Тип_улицы")
    <br />
    @Html.ActionLink("Типы юридических лиц", "Index", "Тип_юр__лица")
    <br />
    @Html.ActionLink("Улицы", "Index", "Улица")
</div>
