@model IEnumerable<InventaDataModul.Состояние_оборудования>

@{
    ViewBag.Title = "Список Состояние_оборудования";
}

<h2>Список Состояние_оборудования</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Номер_состояния)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Номер_состояния)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Номер }) |            
            @Html.ActionLink("Удалить", "Delete", new { id=item.Номер })
        </td>
    </tr>
}

</table>
