@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Выбор в меню</h3>
    <br />
    @Html.ActionLink("Организации", "Index", "Юридическое_лицо")
    <br />
    @Html.ActionLink("Сотрудники", "Index", "Физическое_лицо")
    <br />
    @Html.ActionLink("Оборудование", "Index", "Оборудование")
    <br />
    @Html.ActionLink("Хосты", "Index", "Хост")
    <br />
    @Html.ActionLink("Докуметн работ", "Index", "Документ_работ")
    

    <br />
    @Html.ActionLink("Отчет администрования", "", "")
    <br />
    @Html.ActionLink("Прогнозирование", "Index", "Прогноз")
    <br />
    
    @Html.ActionLink("Показатель", "Index", "Показатель")
    <br />
    @Html.ActionLink("Оборудование", "Index", "Оборудование")
    <br />
    @Html.ActionLink("Фрагмент трудового договора","Index","Фр__труд__договора")
    <br />
    @Html.ActionLink("Юридическое лицо","Index","Юридическое_лицо")
    
    <br />
    @Html.ActionLink("Справочники", "Index", "Reference")
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>

    </div>*@