@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Выбор в меню</h3>
    <br/>
    @Html.ActionLink("Пользователи","Index","Users")
    <br />
    @Html.ActionLink("Сотрудники", "Index", "Физическое_лицо")
    <br />
    @Html.ActionLink("Организации", "Index", "Юридическое_лицо")
   <br />
    @Html.ActionLink("Оборудование", "Index", "Оборудование")
    <br />
    @Html.ActionLink("Хосты", "Index", "Хост")
    <br />
    @Html.ActionLink("Докуметн работ", "Index", "Документ_работ")
    <br />
    @Html.ActionLink("Оборудование", "Index", "Оборудование")
    <br />
    @Html.ActionLink("Фрагмент трудового договора","Index","Фр__труд__договора")
    <br />
    @Html.ActionLink("Юридическое лицо","Index","Юридическое_лицо")
    <br/>
    @Html.ActionLink("Журналы неисправностей","Index","Журнал")
    <br/>
    @Html.ActionLink("События","Index","Событие")
    <br />
    @Html.ActionLink("Отчет администрования", "", "")
    <br />
    @Html.ActionLink("Прогнозирование", "Index", "Прогноз")
    <br />
    
</div>

@*@section MainMenu
{
    <li>
        @Html.ActionLink("Справочники", "Index", "Reference")
    </li>

}*@

