@model IEnumerable<InventaDataModul.Лог>

@{
    ViewBag.Title = "Список Лог";
}

<h2>Список Лог</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Сообщение)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Код_тега)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Код_лога)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Сообщение)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Тег.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Тип_лога.Название)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Номер }) |            
            @Html.ActionLink("Удалить", "Delete", new { id=item.Номер })
        </td>
    </tr>
}

</table>
