@model IEnumerable<InventaDataModul.Единицы_измерения>

@{
    ViewBag.Title = "Список Единицы_измерения";
}

<h2>Список Единиц измерения</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Краткое_название)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Краткое_название)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Код }) |            
            @Html.ActionLink("Удалить", "Delete", new { id=item.Код })
        </td>
    </tr>
}

</table>
