@model IEnumerable<InventaDataModul.Физическое_лицо>

@{
    ViewBag.Title = "Список Физических лиц";
}

<h2>Список Физических лиц</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Отчество)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Имя)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Отчество)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Код }) |            
            @Html.ActionLink("Удалить", "Delete", new { id=item.Код })
        </td>
    </tr>
}

</table>


 @* 
 
		
===================================================================================================
		
==========================================================================================
		
=============================================================================================
  *@ 







